
.idea/

*.iml

.DS_Store

target/classes/

v1/ParserKafka/Log/

target/maven-archiver/

src/main/template.xml

src/main/java/prova.xml

v1/target/

v1/Jar/Log/

v1/ParserKafka/__pycache__/

classes/artifacts/
